<turbo-frame id="venues-list" data-sync-url>
    <div class="card search-form">
        <form action="{{ path('venue_list') }}" method="get">
            <div class="search-row">
                <input type="text" name="name" value="{{ filters.name ?? '' }}" placeholder="{{ 'common.name'|trans }}" class="search-input">
                <div class="suggest-wrapper" data-suggest-url="{{ path('api_towns_suggest') }}">
                    <input type="text" data-suggest-input value="{{ townName ?? '' }}" placeholder="{{ 'common.town'|trans }}" class="search-input" autocomplete="off">
                    <input type="hidden" name="townId" data-suggest-hidden value="{{ filters.townId ?? '' }}">
                    <div class="suggest-dropdown" data-suggest-dropdown></div>
                </div>
                <div class="suggest-wrapper" data-suggest-url="{{ path('api_countries_suggest') }}">
                    <input type="text" data-suggest-input value="{{ countryName ?? '' }}" placeholder="{{ 'common.country'|trans }}" class="search-input" autocomplete="off">
                    <input type="hidden" name="countryId" data-suggest-hidden value="{{ filters.countryId ?? '' }}">
                    <div class="suggest-dropdown" data-suggest-dropdown></div>
                </div>
                <input type="text" name="representative" value="{{ filters.representative ?? '' }}" placeholder="{{ 'venue.search.representative'|trans }}" class="search-input">
                <button type="submit" class="search-btn">{{ 'common.search'|trans }}</button>
            </div>
        </form>
    </div>

    <div class="card card-wide">
        <table aria-label="{{ 'nav.venues'|trans }}">
            <thead>
                <tr>
                    <th>{{ 'common.name'|trans }}</th>
                    <th>{{ 'common.town'|trans }}</th>
                    <th>{{ 'common.country'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for v in venues %}
                    <tr class="{{ loop.index is odd ? 'row-light' : 'row-dark' }}">
                        <td><a href="{{ path('venue_show', {id: v.id}) }}" data-turbo-frame="_top" data-turbo="false">{{ v.name }}</a></td>
                        <td>{{ v.townName }}</td>
                        <td>{{ v.countryName }}</td>
                    </tr>
                {% else %}
                    <tr><td colspan="3">{{ 'common.not_found'|trans }}</td></tr>
                {% endfor %}
            </tbody>
        </table>

        {% include '_pagination.html.twig' with {paginationRoute: 'venue_list', paginationParams: filters} %}
    </div>
</turbo-frame>
