<turbo-frame id="players-list" data-sync-url>
    <div class="card search-form">
        <form action="{{ path('player_list') }}" method="get">
            <div class="search-row">
                <input type="text" name="lastName" value="{{ filters.lastName ?? '' }}" placeholder="{{ 'player.last_name'|trans }}" class="search-input">
                <input type="text" name="firstName" value="{{ filters.firstName ?? '' }}" placeholder="{{ 'player.first_name'|trans }}" class="search-input">
                <input type="text" name="patronymic" value="{{ filters.patronymic ?? '' }}" placeholder="{{ 'player.patronymic'|trans }}" class="search-input">
                <div class="suggest-wrapper" data-suggest-url="{{ path('api_towns_suggest') }}">
                    <input type="text" data-suggest-input value="{{ townName ?? '' }}" placeholder="{{ 'common.town'|trans }}" class="search-input" autocomplete="off">
                    <input type="hidden" name="townId" data-suggest-hidden value="{{ filters.townId ?? '' }}">
                    <div class="suggest-dropdown" data-suggest-dropdown></div>
                </div>
                <div class="suggest-wrapper" data-suggest-url="{{ path('api_countries_suggest') }}">
                    <input type="text" data-suggest-input value="{{ countryName ?? '' }}" placeholder="{{ 'common.country'|trans }}" class="search-input" autocomplete="off">
                    <input type="hidden" name="countryId" data-suggest-hidden value="{{ filters.countryId ?? '' }}">
                    <div class="suggest-dropdown" data-suggest-dropdown></div>
                </div>
                <button type="submit" class="search-btn">{{ 'common.search'|trans }}</button>
            </div>
        </form>
    </div>

    <div class="card card-wide">
        <table>
            <thead>
                <tr>
                    <th>{{ 'player.full_name'|trans }}</th>
                    <th>{{ 'common.town'|trans }}</th>
                    <th>{{ 'common.team'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for p in players %}
                    <tr class="{{ loop.index is odd ? 'row-light' : 'row-dark' }}">
                        <td><a href="{{ path('player_show', {id: p.id}) }}" data-turbo-frame="_top">{{ p.fullName }}</a></td>
                        <td>{{ p.townName ?? '' }}</td>
                        <td>
                            {% if p.teamId %}
                                <a href="{{ path('team_show', {id: p.teamId}) }}" data-turbo-frame="_top">{{ p.teamName }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="3">{{ 'common.not_found'|trans }}</td></tr>
                {% endfor %}
            </tbody>
        </table>

        {% include '_pagination.html.twig' with {paginationRoute: 'player_list', paginationParams: filters} %}
    </div>
</turbo-frame>
