{# Expects: paginationRoute (string), paginationParams (object), page (int), lastPage (int) #}
{% if lastPage > 1 %}
    <nav class="pagination">
        {% if page > 1 %}
            <a href="{{ path(paginationRoute, paginationParams|merge({page: 1})) }}">{{ 'pagination.first'|trans }}</a>
            <a href="{{ path(paginationRoute, paginationParams|merge({page: page - 1})) }}">{{ 'pagination.prev'|trans }}</a>
        {% endif %}
        <span>{{ page }} / {{ lastPage }}</span>
        {% if page < lastPage %}
            <a href="{{ path(paginationRoute, paginationParams|merge({page: page + 1})) }}">{{ 'pagination.next'|trans }}</a>
            <a href="{{ path(paginationRoute, paginationParams|merge({page: lastPage})) }}">{{ 'pagination.last'|trans }}</a>
        {% endif %}
    </nav>
{% endif %}
